{% extends 'index/index.html' %}

{% block 'imagen' %}
{% endblock 'imagen' %}

{% block 'bloque_cuerpo' %}
    <h1 class="masthead-heading text-uppercase mb-0">Crea tu Piloto</h1>

    <p>
        <a href={% url 'pilotos' %}>Volver</a>
    </p>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.media}}
            {{form.as_table}}
        </table>
        <button>Crear</button>
    </form>
{% endblock 'bloque_cuerpo' %}

{% block 'bloque_cuerpo_sub' %}
{% endblock 'bloque_cuerpo_sub' %}