{% extends 'index/index.html' %}

{% block 'imagen' %}
{% endblock 'imagen' %}

{% block 'bloque_cuerpo' %}   
    <h1 class="masthead-heading text-uppercase mb-0">Sobre el piloto</h1>

    <p>
        <a href={% url 'pilotos' %}> Volver</a>
    </p>

    <p style="text-align: left;">
        <li>Nombre: {{object.nombre}}</li>
        <li>Apellido: {{object.apellido}}</li>
        <li>Equipo: {{object.equipo}}</li>
        <li>Titulo: {{object.titulo | safe}}</li>
        <li>Subtitulo: {{object.subtitulo | safe}}</li>
        <li>Cuerpo: {{object.cuerpo | safe}}</li>
        <li>Fecha creacion: {{object.fecha_creacion | date:'d-m-Y H:m'}}</li>
        {% if object.imagen %}
        <li>Imagen: <img src="{{object.imagen.url}}" width="400" height="400" alt="imagen de perfil"></li>
        <li>Fecha Imagen: {{object.fecha_imagen | date:'d-m-Y H:m'}}</li>
        {% endif %}
        
    </p>
{% endblock 'bloque_cuerpo' %}

{% block 'bloque_cuerpo_sub' %}
{% endblock 'bloque_cuerpo_sub' %}