{% extends 'index/index.html' %}

{% block 'imagen' %}
{% endblock 'imagen' %}

{% block 'bloque_cuerpo' %}
    <h1 class="masthead-heading text-uppercase mb-0">Blog de pilotos</h1>

    <p>
        <a href={% url 'crear_piloto' %}>Crear Blog Piloto</a>
    </p>

    <form action="" method="get">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button>Buscar</button>
    </form>

    {% if pilotos %}
        {% for piloto in pilotos %}
        <li>
        {{piloto}}
        <a href={% url 'detalle_piloto' piloto.id %}>Leer mas</a> |
        <a href={% url 'editar_piloto' piloto.id %}>Editar</a> |
        <a href={% url 'borrar_piloto' piloto.id %}>Borrar</a>
         </li>
        {% endfor %}
    {% else %}
        <p>No hay blogs de pilotos aún</p>
    {% endif %}


{% endblock 'bloque_cuerpo' %}

{% block 'bloque_cuerpo_sub' %}
{% endblock 'bloque_cuerpo_sub' %}