{% extends 'index/index.html' %}

{% block 'imagen' %}
{% endblock 'imagen' %}

{% block 'body_block' %}   
    <h1 class="masthead-heading text-uppercase mb-0">Busca tu piloto</h1>

    <form action="" method="get">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button>Buscar</button>
    </form>

    {% for piloto in pilotos %}
        <li>{{piloto}}</li>
    {% endfor %}
{% endblock 'body_block' %}

{% block 'body_block_sub' %}
{% endblock 'body_block_sub' %}