{% extends 'index/index.html' %}

{% block 'imagen' %}
{% endblock 'imagen' %}

{% block 'bloque_cuerpo' %}   
    <h1 class="masthead-heading text-uppercase mb-0">Blog de pilotos</h1>

    <p>
        <a href={% url 'pilotos' %}> Volver</a>
    </p>


    <form action="" method="post">
        {% csrf_token %}
        Usted quiere eliminar al piloto {{object}}?
        <button>Eliminar</button>
    </form>

    
{% endblock 'bloque_cuerpo' %}

{% block 'bloque_cuerpo_sub' %}
{% endblock 'bloque_cuerpo_sub' %}