{% extends 'index/index.html' %}

{% block 'imagen' %}
{% endblock 'imagen' %}

{% block 'bloque_cuerpo' %}
    <h1 class="masthead-heading text-uppercase mb-0">Editar Usuario</h1>

    <p>      
        {% if msj %}
             {{msj}}
        {% endif %}
    </p>

    <p>
        <li>Nombre: {{request.user.first_name}}</li>
        <li>Apellido: {{request.user.last_name}}</li>
        <li>Email: {{request.user.email}}</li>
        {% if request.user.userextension.avatar %}
        <li>Imagen: <img src="{{request.user.userextension.avatar.url}}" width="100" height="100" alt="imagen de perfil"></li>
        {% endif %}
        <li>Link: {{request.user.userextension.link}}</li>
        <li> Descripcion: {{request.user.userextension.mas_descripcion}}</li>
    </p>
    
    <a href={% url 'editar_usuario' %}>Editar datos</a>

{% endblock 'bloque_cuerpo' %}

{% block 'bloque_cuerpo_sub' %}
{% endblock 'bloque_cuerpo_sub' %}