{% extends 'index/index.html' %}

{% block 'imagen' %}
{% endblock 'imagen' %}

{% block 'bloque_cuerpo' %}
    <h1 class="masthead-heading text-uppercase mb-0">¿Quién soy?</h1>
   
    <p align="left">
    Soy Antonella María Giusiano, estudiante de Ingeniría en Sistemas de Información.
    </p>
    <p align="left">
    Decidí estudiar esta carrera ya que las tecnologías de la información y las comunicaciones son y seguirán siendo el apoyo tecnológico esencial para el desarrollo de todos los campos.
    Uno de mis pasatiempos es la Formula 1 , ya que es un deporte apasionante y es muy interesante como la tecnología es una parte fundamental de esta industria.
    Es un deporte que involucra estrategia y técnica, y la competencia es muy emocionante.
    </p>
{% endblock 'bloque_cuerpo' %}

{% block 'bloque_cuerpo_sub' %}
{% endblock 'bloque_cuerpo_sub' %}